@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-sans: system-ui, -apple-system, sans-serif;
    --font-geist-mono: ui-monospace, monospace;
  }

  body {
    @apply bg-white text-black antialiased;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-black text-white;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
